  <%= form_for @item, html: {multipart: true} do |form| %>

  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.url_field :name, class: "form-control item-name", placeholder: "Enter Item Name Here" %>
  <h4 class="sub-item-name"> ITEM # 12CIN123-123 | SALE 12CIN123 Personal Property Sale |  CONTRACT C-059502 </h4>
  <hr>

  <div class="row-fluid">
    <div class="col-xs-12">
      <div class="row-fluid">

        <div class="col-xs-3">
          <i class="fa fa-picture-o" style="font-size:15em;" aria-hidden="true"></i>
        </div>

        <div class="col-xs-9">
          <div class="row-fluid">

            <div class="form-group col-xs-12">
              <p><b>Category</b></p>

              <div class="well">
                <div class="form-group">
                  <p>Category | Required</p>
                  <%= form.select(:category, options_for_select([['Jewelry and Watches > Bracelets'], ['Jewelry and Watches > Brooches'], ['Jewelry and Watches > Cufflinks'], ['Jewelry and Watches > Earrings'], ['Jewelry and Watches > Necklaces'], ['Jewelry and Watches > Other Jewelry'], ['Jewelry and Watches > Pendants'], ['Jewelry and Watches > Pins'], ['Jewelry and Watches > Rings'], ['Jewelry and Watches > Watches']], {:selected => @item.category}),:prompt => "Select One") %>
                </div>
              </div>
             </div>

            <div class="form-group col-xs-12">
              <p><b>Attributes</b></p>
              <div class="well">
                <div class="field <%= item.category == 'Jewelry and Watches > Bracelets' ? 'present' : 'hidden' %>">
                  <%= form.label :barcode %>
                  test
                 </div>
              </div>
            </div>

            <div class="form-group col-xs-12">
              <p><b>Condition</b></p>
              <div class="well">
                <div class="row">
                  <div class="form-group col-xs-12">
                    <p>Condition Status | Required</p>
                    <div>
                      <button type="button" class="btn btn-default DC-button" disabled>Very Good</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Good</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Fair</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Poor</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Various</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Inoperable</button>
                    </div>
                  </div>


                  <div class="form-group col-xs-12">
                    <p>Condition Details</p>
                    <textarea class="form-control" placeholder="-good condition" readonly></textarea>
                    <p class="subtext">Describe any flaws with the item, like scratches, worn areas, non-functioning components, etc.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-xs-12">
              <p><b>Measurements</b></p>
              <div class="well">
                <div class="row">
                  <div class="form-group col-xs-4">
                    <p>Width (in.)<p>
                    <input class="form-control" type="text" placeholder="12" readonly>
                  </div>
                  <div class="form-group col-xs-4">
                    <p>Height (in.)</p>
                    <input class="form-control" type="text" placeholder="12" readonly>
                  </div>
                  <div class="form-group col-xs-4">
                    <p>Depth (in.)</p>
                    <input class="form-control" type="text" placeholder="12" readonly>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <p>Measurement Details</p>
                    <textarea class="form-control" placeholder="-it's pretty big" readonly></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <button type="button" class="btn btn-default DC-button" disabled>DC Pickup?</button>
                    <p class="subtext">Describe any flaws with the item, like scratches, worn areas, non-functioning components, etc.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-xs-12">
              <p><b>Description</b></p>
              <div class="well">
                <p>Description | Required</p>
                <textarea class="form-control" placeholder="This piece of jewelry is..." readonly></textarea>
              </div>
            </div>

            <div class="form-group col-xs-12">
              <p><b>Additional Links</b></p>
              <div class="well">
                <div class="row">
                  <div class="form-group col-xs-6">
                    <p>Link Title<p>
                    <input class="form-control" type="text" placeholder= "EBTH" readonly>
                  </div>
                  <div class="form-group col-xs-6">
                    <p>URL</p>
                    <input class="form-control" type="text" placeholder="http://ebth.com" readonly>
                  </div>
                </div>
                <button type="button" class="btn btn-default DC-button" disabled>+ Add Another Link</button>
              </div>
            </div>

            <div class="form-group">
              <%= link_to 'Cancel', items_path, class: "btn btn-danger" %>
              <%= form.submit class: "btn btn-primary" %>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <% end %>
