  <%= form_for @item, html: {multipart: true} do |form| %>

  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name, class: "form-control item-name", placeholder: "Enter Item Name Here" %>
  <h4 class="sub-item-name"> ITEM # 12CIN123-123 | SALE 12CIN123 Personal Property Sale |  CONTRACT C-059502 </h4>
  <hr>

  <div class="row-fluid">
    <div class="col-xs-12">
      <div class="row-fluid">

        <div class="col-xs-3">
          <i class="fa fa-picture-o" style="font-size:15em;" aria-hidden="true"></i>
        </div>

        <div class="col-xs-9">
          <div class="row-fluid">

            <div class="form-group col-xs-12">
              <h4>Category</h4>

              <div class="well">
                <div class="form-group">
                <p>Category | Required</p>
                  <%= form.select :category, options_for_select([
                    ['Select One...', ''],
                    ['Jewelry and Watches > Bracelets','Bracelets'],
                    ['Jewelry and Watches > Brooches','Brooches'],
                    ['Jewelry and Watches > Cufflinks','Cufflinks'],
                    ['Jewelry and Watches > Earrings','Earrings'],
                    ['Jewelry and Watches > Necklaces','Necklaces'],
                    ['Jewelry and Watches > Other Jewelry','Other Jewelry'],
                    ['Jewelry and Watches > Pendants','Pendants'],
                    ['Jewelry and Watches > Pins','Pins'],
                    ['Jewelry and Watches > Rings','Rings'],
                    ['Jewelry and Watches > Watches','Watches']
                    ], @item.category), {}, {:class => "form-control"} %>
                </div>
              </div>
             </div>

            <div class="form-group col-xs-12">
              <h4>Attributes</h4>
                <div class="well">
<!---BRACELETS--------------------------------------------------------------------------------------->
                  <div id="braceletdetails">
                    <div class="panel panel-default">
                      <div class="panel-heading">Bracelet Details | Required</div>
                      <div class="panel-body">
                        <div class="form-group">
                          <%= form.label :braceletdesigner, "Designer" %><br>
                          <%= form.text_field :braceletdesigner, class: "form-control", placeholder: "Optional Attribute" %>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 form-group">
                            <%= form.label :braceletothermetal, "Metal Type" %>
                            <%= form.select :braceletothermetal, options_for_select([["Select One...", ""],'White Gold','Yellow Gold','Rose Gold','Silver','Palladium','Platinum','Other'], @item.braceletothermetal), {}, {:class => "form-control"} %>
                          </div>
                          <div class="col-xs-6 form-group">
                            <div class="secondary-dropdown">
                            <%= form.select :braceletmetaltype, options_for_select([["Select One...", ""],'925','10K','14K','18K', 'Other'], :selected => @item.braceletmetaltype), {}, {:class => "form-control"} %>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 form-group ">
                            <%= form.label :braceletlength, "Length (inches)" %>
                            <%= form.number_field :braceletlength,in: 1.0..20.0, step: 0.25, class: "form-control", placeholder: "Select a Length (inches)" %>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= form.label :braceletclosure, "Bracelet Closure Type" %>
                          <%= form.select :braceletclosure, options_for_select([["Select One...", ""],'Spring Ring', 'Lobster', 'Barrel', 'Magnetic', 'Fishhook', 'Toggle', 'Slide Lock', 'None'], :selected => @item.braceletclosure), {}, {:class => "form-control"} %>
                        </div>
                        <div class="form-group form-font">
                          <%= form.label :bracelethallmarks, "Hallmarks" %><br>
                          <%= form.text_field :bracelethallmarks, class: "form-control", placeholder: "Optional Attribute" %>
                        </div>
                        <div class="form-group">
                          <%= form.label :era, "Style" %>
                          <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Georgian: Circa 1714-1837<br>Victorian: Circa 1837-1901<br>Art Nouveau: Circa 1890-1910<br>Edwardian: Circa 1901-1920<br>Retro: Circa 1930s-1950<br>Art Deco: Circa 1920-1930"></span>
                          <%= form.select :braceletstyle, options_for_select([["Select One...", ""],'Georgian','Victorian','Art Nouveau','Edwardian','Retro','Art Deco', 'None'], :selected => @item.braceletstyle), {}, {:class => "form-control"} %>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 form-group ">
                            <%= form.label :bracelettotalweight, "Total Weight" %>
                            <%= form.number_field :bracelettotalweight,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Select a Total Weight" %>
                          </div>
                          <div class="col-xs-6 form-group">
                            <div class="secondary-dropdown">
                            <%= form.select :braceletweighttype, options_for_select([["Select One...", ""],'ozt','dwt'], :selected => @item.braceletweighttype), {}, {:class => "form-control"} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                     <div class="col-xs-6 collapse-group panel small-panel">
                      <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails1">Center Stone Attributes <span class="fa fa-diamond"> </span></a>
                      <div class="collapse" id="viewdetails1">
                        <div class="col-xs-12 form-group sub-menu-margin">
                          <%= form.label :braceletcstonetype, "Stone Type" %>
                          <%= form.select :braceletcstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl','Rhinestones', 'Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.braceletcstonetype), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-12 form-group">
                          <%= form.label :braceletcstoneshape, "Stone Shape" %>
                          <%= form.select :braceletcstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.braceletcstoneshape), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletcstonecount, "Stone Count" %>
                          <%= form.number_field :braceletcstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletcstonecaratweight, "Carat Weight" %>
                          <%= form.number_field :braceletcstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletcstoneclaritygrade, "Clarity Grade" %>
                          <%= form.select :braceletcstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.braceletcstoneclaritygrade), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletcstonecolorgrade, "Color Grade" %>
                        <%= form.select :braceletcstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.braceletcstonecolorgrade), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletcstonedimensionl, "Dimensions" %>
                          <%= form.number_field :braceletcstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="no-label-field">
                            <%= form.number_field :braceletcstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                          </div>
                        </div>
                      </div>
                     </div>
                     <div class="col-xs-6 collapse-group panel small-panel">
                      <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails2">Side Stone Attributes <span class="fa fa-diamond"> </span></a>
                      <div class="collapse" id="viewdetails2">
                        <div class="col-xs-12 form-group sub-menu-margin">
                          <%= form.label :braceletsstonetype, "Stone Type" %>
                          <%= form.select :braceletsstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl', 'Rhinestones','Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.braceletsstonetype), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-12 form-group">
                          <%= form.label :braceletsstoneshape, "Stone Shape" %>
                          <%= form.select :braceletsstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.braceletsstoneshape), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletsstonecount, "Stone Count" %>
                          <%= form.number_field :braceletsstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletsstonecaratweight, "Carat Weight" %>
                          <%= form.number_field :braceletsstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletsstoneclaritygrade, "Clarity Grade" %>
                          <%= form.select :braceletsstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.braceletsstoneclaritygrade), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletsstonecolorgrade, "Color Grade" %>
                        <%= form.select :braceletsstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.braceletsstonecolorgrade), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :braceletsstonedimensionl, "Dimensions" %>
                          <%= form.number_field :braceletsstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="no-label-field">
                            <%= form.number_field :braceletsstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                          </div>
                        </div>
                      </div>
                     </div>
                   </div>
                  </div>
<!---BROOCHES--------------------------------------------------------------------------------------->
                  <div id="broochdetails">
                    <div class="panel panel-default">
                      <div class="panel-heading">Brooch Details | Required</div>
                      <div class="panel-body">
                        <div class="form-group">
                          <%= form.label :broochdesigner, "Designer" %><br>
                          <%= form.text_field :broochdesigner, class: "form-control", placeholder: "Optional Attribute" %>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 form-group">
                            <%= form.label :broochothermetal, "Metal Type" %>
                            <%= form.select :broochothermetal, options_for_select([["Select One...", ""],'White Gold','Yellow Gold','Rose Gold','Silver','Palladium','Platinum','Other'], @item.broochothermetal), {}, {:class => "form-control"} %>
                          </div>
                          <div class="col-xs-6 form-group">
                            <div class="secondary-dropdown">
                            <%= form.select :broochmetaltype, options_for_select([["Select One...", ""],'925','10K','14K','18K', 'Other'], :selected => @item.broochmetaltype), {}, {:class => "form-control"} %>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= form.label :broochclosure, "Brooch Closure Type" %>
                          <%= form.select :broochclosure, options_for_select([["Select One...", ""],'C Clasp', 'Safety Clasp', 'Trobone Clasp', 'None'], :selected => @item.broochclosure), {}, {:class => "form-control"} %>
                        </div>
                        <div class="form-group form-font">
                          <%= form.label :broochhallmarks, "Hallmarks" %>
                          <%= form.text_field :broochhallmarks, class: "form-control", placeholder: "Optional Attribute" %>
                        </div>
                        <div class="form-group">
                          <%= form.label :era, "Style" %>
                          <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Georgian: Circa 1714-1837<br>Victorian: Circa 1837-1901<br>Art Nouveau: Circa 1890-1910<br>Edwardian: Circa 1901-1920<br>Retro: Circa 1930s-1950<br>Art Deco: Circa 1920-1930"></span>
                          <%= form.select :broochstyle, options_for_select([["Select One...", ""],'Georgian','Victorian','Art Nouveau','Edwardian','Retro','Art Deco', 'None'], :selected => @item.broochstyle), {}, {:class => "form-control"} %>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 form-group ">
                            <%= form.label :broochtotalweight, "Total Weight" %>
                            <%= form.number_field :broochtotalweight,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Select a Total Weight" %>
                          </div>
                          <div class="col-xs-6 form-group">
                            <div class="secondary-dropdown">
                            <%= form.select :broochweighttype, options_for_select([["Select One...", ""],'ozt','dwt'], :selected => @item.broochweighttype), {}, {:class => "form-control"} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                     <div class="col-xs-6 collapse-group panel small-panel">
                      <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails3">Center Stone Attributes <span class="fa fa-diamond"> </span></a>
                      <div class="collapse" id="viewdetails3">
                        <div class="col-xs-12 form-group sub-menu-margin">
                          <%= form.label :broochcstonetype, "Stone Type" %>
                          <%= form.select :broochcstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl','Rhinestones', 'Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.broochcstonetype), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-12 form-group">
                          <%= form.label :broochcstoneshape, "Stone Shape" %>
                          <%= form.select :broochcstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.broochcstoneshape), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochcstonecount, "Stone Count" %>
                          <%= form.number_field :broochcstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochcstonecaratweight, "Carat Weight" %>
                          <%= form.number_field :broochcstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochcstoneclaritygrade, "Clarity Grade" %>
                          <%= form.select :broochcstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.broochcstoneclaritygrade), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochcstonecolorgrade, "Color Grade" %>
                        <%= form.select :broochcstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.broochcstonecolorgrade), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochcstonedimensionl, "Dimensions" %>
                          <%= form.number_field :broochcstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="no-label-field">
                            <%= form.number_field :broochcstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                          </div>
                        </div>
                      </div>
                     </div>
                     <div class="col-xs-6 collapse-group panel small-panel">
                      <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails4">Side Stone Attributes <span class="fa fa-diamond"> </span></a>
                      <div class="collapse" id="viewdetails4">
                        <div class="col-xs-12 form-group sub-menu-margin">
                          <%= form.label :broochsstonetype, "Stone Type" %>
                          <%= form.select :broochsstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl', 'Rhinestones','Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.broochsstonetype), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-12 form-group">
                          <%= form.label :broochsstoneshape, "Stone Shape" %>
                          <%= form.select :broochsstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.broochsstoneshape), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochsstonecount, "Stone Count" %>
                          <%= form.number_field :broochsstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochsstonecaratweight, "Carat Weight" %>
                          <%= form.number_field :broochsstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochsstoneclaritygrade, "Clarity Grade" %>
                          <%= form.select :broochsstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.broochsstoneclaritygrade), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochsstonecolorgrade, "Color Grade" %>
                        <%= form.select :broochsstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.broochsstonecolorgrade), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <%= form.label :broochsstonedimensionl, "Dimensions" %>
                          <%= form.number_field :broochsstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="no-label-field">
                            <%= form.number_field :broochsstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                          </div>
                        </div>
                      </div>
                     </div>
                   </div>
                  </div>
<!---CUFFILINKS--------------------------------------------------------------------------------------->
                <div id="cufflinkdetails">
                  <div class="panel panel-default">
                    <div class="panel-heading">Cufflink Details | Required</div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6 form-group">
                          <%= form.label :cufflinkothermetal, "Metal Type" %>
                          <%= form.select :cufflinkothermetal, options_for_select([["Select One...", ""],'White Gold','Yellow Gold','Rose Gold','Silver','Palladium','Platinum','Other'], @item.cufflinkothermetal), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :cufflinkmetaltype, options_for_select([["Select One...", ""],'925','10K','14K','18K', 'Other'], :selected => @item.cufflinkmetaltype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group form-font">
                        <%= form.label :cufflinkhallmarks, "Hallmarks" %><br>
                        <%= form.text_field :cufflinkhallmarks, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="form-group">
                        <%= form.label :cufflinkstyle, "Style" %>
                        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Georgian: Circa 1714-1837<br>Victorian: Circa 1837-1901<br>Art Nouveau: Circa 1890-1910<br>Edwardian: Circa 1901-1920<br>Retro: Circa 1930s-1950<br>Art Deco: Circa 1920-1930"></span>
                        <%= form.select :cufflinkstyle, options_for_select([["Select One...", ""],'Georgian','Victorian','Art Nouveau','Edwardian','Retro','Art Deco', 'None'], :selected => @item.cufflinkstyle), {}, {:class => "form-control"} %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group ">
                          <%= form.label :cufflinktotalweight, "Total Weight" %>
                          <%= form.number_field :cufflinktotalweight,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Select a Total Weight" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :cufflinkweighttype, options_for_select([["Select One...", ""],'ozt','dwt'], :selected => @item.cufflinkweighttype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                   <div class="col-xs-6 collapse-group panel small-panel">
                    <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails5">Center Stone Attributes <span class="fa fa-diamond"> </span></a>
                    <div class="collapse" id="viewdetails5">
                      <div class="col-xs-12 form-group sub-menu-margin">
                        <%= form.label :cufflinkcstonetype, "Stone Type" %>
                        <%= form.select :cufflinkcstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl','Rhinestones', 'Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.cufflinkcstonetype), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-12 form-group">
                        <%= form.label :cufflinkcstoneshape, "Stone Shape" %>
                        <%= form.select :cufflinkcstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.cufflinkcstoneshape), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinkcstonecount, "Stone Count" %>
                        <%= form.number_field :cufflinkcstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinkcstonecaratweight, "Carat Weight" %>
                        <%= form.number_field :cufflinkcstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinkcstoneclaritygrade, "Clarity Grade" %>
                        <%= form.select :cufflinkcstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.cufflinkcstoneclaritygrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinkcstonecolorgrade, "Color Grade" %>
                      <%= form.select :cufflinkcstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.cufflinkcstonecolorgrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinkcstonedimensionl, "Dimensions" %>
                        <%= form.number_field :cufflinkcstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <div class="no-label-field">
                          <%= form.number_field :cufflinkcstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                        </div>
                      </div>
                    </div>
                   </div>
                   <div class="col-xs-6 collapse-group panel small-panel">
                    <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails6">Side Stone Attributes <span class="fa fa-diamond"> </span></a>
                    <div class="collapse" id="viewdetails6">
                      <div class="col-xs-12 form-group sub-menu-margin">
                        <%= form.label :cufflinksstonetype, "Stone Type" %>
                        <%= form.select :cufflinksstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl', 'Rhinestones','Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.cufflinksstonetype), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-12 form-group">
                        <%= form.label :cufflinksstoneshape, "Stone Shape" %>
                        <%= form.select :cufflinksstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.cufflinksstoneshape), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinksstonecount, "Stone Count" %>
                        <%= form.number_field :cufflinksstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinksstonecaratweight, "Carat Weight" %>
                        <%= form.number_field :cufflinksstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinksstoneclaritygrade, "Clarity Grade" %>
                        <%= form.select :cufflinksstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.cufflinksstoneclaritygrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinksstonecolorgrade, "Color Grade" %>
                      <%= form.select :cufflinksstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.cufflinksstonecolorgrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :cufflinksstonedimensionl, "Dimensions" %>
                        <%= form.number_field :cufflinksstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <div class="no-label-field">
                          <%= form.number_field :cufflinksstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                        </div>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
<!---EARRINGS--------------------------------------------------------------------------------------->
                <div id="earringdetails">
                  <div class="panel panel-default">
                    <div class="panel-heading">Earring Details | Required</div>
                    <div class="panel-body">
                      <div class="form-group">
                        <%= form.label :earringdesigner, "Designer" %><br>
                        <%= form.text_field :earringdesigner, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group">
                          <%= form.label :earringothermetal, "Metal Type" %>
                          <%= form.select :earringothermetal, options_for_select([["Select One...", ""],'White Gold','Yellow Gold','Rose Gold','Silver','Palladium','Platinum','Other'], @item.earringothermetal), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :earringmetaltype, options_for_select([["Select One...", ""],'925','10K','14K','18K', 'Other'], :selected => @item.earringmetaltype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= form.label :earringclosure, "Earring Closure Type" %>
                        <%= form.select :earringclosure, options_for_select([["Select One...", ""],'Fish Hook', 'Hoop', 'Kidney', 'Lever Backed', 'Post'], :selected => @item.earringclosure), {}, {:class => "form-control"} %>
                      </div>
                      <div class="form-group form-font">
                        <%= form.label :earringhallmarks, "Hallmarks" %><br>
                        <%= form.text_field :earringhallmarks, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="form-group">
                        <%= form.label :earringstyle, "Style" %>
                        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Georgian: Circa 1714-1837<br>Victorian: Circa 1837-1901<br>Art Nouveau: Circa 1890-1910<br>Edwardian: Circa 1901-1920<br>Retro: Circa 1930s-1950<br>Art Deco: Circa 1920-1930"></span>
                        <%= form.select :earringstyle, options_for_select([["Select One...", ""],'Georgian','Victorian','Art Nouveau','Edwardian','Retro','Art Deco', 'None'], :selected => @item.earringstyle), {}, {:class => "form-control"} %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group ">
                          <%= form.label :earringtotalweight, "Total Weight" %>
                          <%= form.number_field :earringtotalweight,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Select a Total Weight" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :earringweighttype, options_for_select([["Select One...", ""],'ozt','dwt'], :selected => @item.earringweighttype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                   <div class="col-xs-6 collapse-group panel small-panel">
                    <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails7">Center Stone Attributes <span class="fa fa-diamond"> </span></a>
                    <div class="collapse" id="viewdetails7">
                      <div class="col-xs-12 form-group sub-menu-margin">
                        <%= form.label :earringcstonetype, "Stone Type" %>
                        <%= form.select :earringcstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl','Rhinestones', 'Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.earringcstonetype), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-12 form-group">
                        <%= form.label :earringcstoneshape, "Stone Shape" %>
                        <%= form.select :earringcstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.earringcstoneshape), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringcstonecount, "Stone Count" %>
                        <%= form.number_field :earringcstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringcstonecaratweight, "Carat Weight" %>
                        <%= form.number_field :earringcstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringcstoneclaritygrade, "Clarity Grade" %>
                        <%= form.select :earringcstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.earringcstoneclaritygrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringcstonecolorgrade, "Color Grade" %>
                      <%= form.select :earringcstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.earringcstonecolorgrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringcstonedimensionl, "Dimensions" %>
                        <%= form.number_field :earringcstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <div class="no-label-field">
                          <%= form.number_field :earringcstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                        </div>
                      </div>
                    </div>
                   </div>
                   <div class="col-xs-6 collapse-group panel small-panel">
                    <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails8">Side Stone Attributes <span class="fa fa-diamond"> </span></a>
                    <div class="collapse" id="viewdetails8">
                      <div class="col-xs-12 form-group sub-menu-margin">
                        <%= form.label :earringsstonetype, "Stone Type" %>
                        <%= form.select :earringsstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl', 'Rhinestones','Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.earringsstonetype), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-12 form-group">
                        <%= form.label :earringsstoneshape, "Stone Shape" %>
                        <%= form.select :earringsstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.earringsstoneshape), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringsstonecount, "Stone Count" %>
                        <%= form.number_field :earringsstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringsstonecaratweight, "Carat Weight" %>
                        <%= form.number_field :earringsstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringsstoneclaritygrade, "Clarity Grade" %>
                        <%= form.select :earringsstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.earringsstoneclaritygrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringsstonecolorgrade, "Color Grade" %>
                      <%= form.select :earringsstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.earringsstonecolorgrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :earringsstonedimensionl, "Dimensions" %>
                        <%= form.number_field :earringsstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <div class="no-label-field">
                          <%= form.number_field :earringsstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                        </div>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
<!---NECKLACES--------------------------------------------------------------------------------------->
                <div id="necklacedetails">
                  <div class="panel panel-default">
                    <div class="panel-heading">Necklace Details | Required</div>
                    <div class="panel-body">
                      <div class="form-group">
                        <%= form.label :necklacedesigner, "Designer" %><br>
                        <%= form.text_field :necklacedesigner, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group">
                          <%= form.label :necklaceothermetal, "Metal Type" %>
                          <%= form.select :necklaceothermetal, options_for_select([["Select One...", ""],'White Gold','Yellow Gold','Rose Gold','Silver','Palladium','Platinum','Other'], @item.necklaceothermetal), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :necklacemetaltype, options_for_select([["Select One...", ""],'925','10K','14K','18K', 'Other'], :selected => @item.necklacemetaltype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group ">
                          <%= form.label :necklacelength, "Length (inches)" %>
                          <%= form.number_field :necklacelength,in: 1.0..20.0, step: 0.25, class: "form-control", placeholder: "Select a Length (inches)" %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= form.label :necklaceclosure, "Necklace Closure Type" %>
                        <%= form.select :necklaceclosure, options_for_select([["Select One...", ""],'Barrel', 'Snap and Button', 'Crimpting', 'Button', 'Screw', 'Slide and Lock', 'Fish Hook', 'Spring Ring', 'Lobster Claw', 'Box', 'S Hook', 'Magnetic', 'Toggle'], :selected => @item.necklaceclosure), {}, {:class => "form-control"} %>
                      </div>
                      <div class="form-group form-font">
                        <%= form.label :necklacehallmarks, "Hallmarks" %><br>
                        <%= form.text_field :necklacehallmarks, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="form-group">
                        <%= form.label :era, "Style" %>
                        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Georgian: Circa 1714-1837<br>Victorian: Circa 1837-1901<br>Art Nouveau: Circa 1890-1910<br>Edwardian: Circa 1901-1920<br>Retro: Circa 1930s-1950<br>Art Deco: Circa 1920-1930"></span>
                        <%= form.select :necklacestyle, options_for_select([["Select One...", ""],'Georgian','Victorian','Art Nouveau','Edwardian','Retro','Art Deco', 'None'], :selected => @item.necklacestyle), {}, {:class => "form-control"} %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group ">
                          <%= form.label :necklacetotalweight, "Total Weight" %>
                          <%= form.number_field :necklacetotalweight,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Select a Total Weight" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :necklaceweighttype, options_for_select([["Select One...", ""],'ozt','dwt'], :selected => @item.necklaceweighttype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                   <div class="col-xs-6 collapse-group panel small-panel">
                    <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails9">Center Stone Attributes <span class="fa fa-diamond"> </span></a>
                    <div class="collapse" id="viewdetails9">
                      <div class="col-xs-12 form-group sub-menu-margin">
                        <%= form.label :necklacecstonetype, "Stone Type" %>
                        <%= form.select :necklacecstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl','Rhinestones', 'Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.necklacecstonetype), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-12 form-group">
                        <%= form.label :necklacecstoneshape, "Stone Shape" %>
                        <%= form.select :necklacecstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.necklacecstoneshape), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacecstonecount, "Stone Count" %>
                        <%= form.number_field :necklacecstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacecstonecaratweight, "Carat Weight" %>
                        <%= form.number_field :necklacecstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacecstoneclaritygrade, "Clarity Grade" %>
                        <%= form.select :necklacecstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.necklacecstoneclaritygrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacecstonecolorgrade, "Color Grade" %>
                      <%= form.select :necklacecstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.necklacecstonecolorgrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacecstonedimensionl, "Dimensions" %>
                        <%= form.number_field :necklacecstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <div class="no-label-field">
                          <%= form.number_field :necklacecstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                        </div>
                      </div>
                    </div>
                   </div>
                   <div class="col-xs-6 collapse-group panel small-panel">
                    <a class="btn btn-default btn-block" data-toggle="collapse" data-target="#viewdetails10">Side Stone Attributes <span class="fa fa-diamond"> </span></a>
                    <div class="collapse" id="viewdetails10">
                      <div class="col-xs-12 form-group sub-menu-margin">
                        <%= form.label :necklacesstonetype, "Stone Type" %>
                        <%= form.select :necklacesstonetype, options_for_select([["Select One...", ""],'Abalone Shell','Amethyst','Alexandrite','Aquamarine','Black Onyx','Citrine','Diamond','Emerald','Garent','Glass','Lapis Lazuli','Mother of Pearl','Onyz','Opal','Peridot', 'Pearl', 'Rhinestones','Ruby', 'Sapphire', 'Tanzanite','Topaz','Turquoise'], :selected => @item.necklacesstonetype), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-12 form-group">
                        <%= form.label :necklacesstoneshape, "Stone Shape" %>
                        <%= form.select :necklacesstoneshape, options_for_select([["Select One...", ""],'Asscher','Baguette','Cushion','Emerald','Heart','Marquise','Oval','Pear','Princess','Radiant','Triangle','Trillion' ], :selected => @item.necklacesstoneshape), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacesstonecount, "Stone Count" %>
                        <%= form.number_field :necklacesstonecount,in: 1.0..10.0, step: 1, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacesstonecaratweight, "Carat Weight" %>
                        <%= form.number_field :necklacesstonecaratweight,in: 0.1..10.0, step: 0.05, class: "form-control", placeholder: "Select a Stone Count" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacesstoneclaritygrade, "Clarity Grade" %>
                        <%= form.select :necklacesstoneclaritygrade, options_for_select([["Select One...", ""],'FL','IF','VVS1','VVS2','VS1','VS2','SI1','SI2','I1','I2','I3' ], :selected => @item.necklacesstoneclaritygrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacesstonecolorgrade, "Color Grade" %>
                      <%= form.select :necklacesstonecolorgrade, options_for_select([["Select One...", ""],'D-E-F','G-H-I-J','K-L-M','N-R','S-Z' ], :selected => @item.necklacesstonecolorgrade), {}, {:class => "form-control"} %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <%= form.label :necklacesstonedimensionl, "Dimensions" %>
                        <%= form.number_field :necklacesstonedimensionl,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Length (mm)" %>
                      </div>
                      <div class="col-xs-6 form-group">
                        <div class="no-label-field">
                          <%= form.number_field :earringsstonedimensionw,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Width (mm)" %>
                        </div>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
<!---OTHER JEWELRY--------------------------------------------------------------------------------------->

                <div id="otherdetails">
                  Come back to this
                </div>
<!---PENDANTS-------------------------------------------------------------------------------------------->
                <div id="pendantdetails">
                  <div class="panel panel-default">
                    <div class="panel-heading">Pendant Details | Required</div>
                    <div class="panel-body">
                      <div class="form-group">
                        <%= form.label :pendantdesigner, "Designer" %><br>
                        <%= form.text_field :pendantdesigner, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group">
                          <%= form.label :pendantothermetal, "Metal Type" %>
                          <%= form.select :pendantothermetal, options_for_select([["Select One...", ""],'White Gold','Yellow Gold','Rose Gold','Silver','Palladium','Platinum','Other'], @item.pendantothermetal), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :pendantmetaltype, options_for_select([["Select One...", ""],'925','10K','14K','18K', 'Other'], :selected => @item.pendantmetaltype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group ">
                          <%= form.label :pendantnecklacelength, "Necklace Length (inches)" %>
                          <%= form.number_field :pendantnecklacelength,in: 1.0..20.0, step: 0.25, class: "form-control", placeholder: "Select a Length (inches)" %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= form.label :pendantnecklaceclosuretype, "Necklace Closure Type" %>
                        <%= form.select :pendantnecklaceclosuretype, options_for_select([["Select One...", ""],'Barrel', 'Snap and Button', 'Crimpting', 'Button', 'Screw', 'Slide and Lock', 'Fish Hook', 'Spring Ring', 'Lobster Claw', 'Box', 'S Hook', 'Magnetic', 'Toggle'], :selected => @item.pendantnecklaceclosuretype), {}, {:class => "form-control"} %>
                      </div>
                      <div class="form-group">
                        <%= form.label :pendantclosure, "Pendant Closure Type" %>
                        <%= form.select :pendantclosure, options_for_select([["Select One...", ""],'Barrel', 'Snap and Button', 'Crimpting', 'Button', 'Screw', 'Slide and Lock', 'Fish Hook', 'Spring Ring', 'Lobster Claw', 'Box', 'S Hook', 'Magnetic', 'Toggle'], :selected => @item.pendantclosure), {}, {:class => "form-control"} %>
                      </div>
                      <div class="form-group form-font">
                        <%= form.label :pendanthallmarks, "Hallmarks" %><br>
                        <%= form.text_field :pendanthallmarks, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="form-group">
                        <%= form.label :pendantstyle, "Style" %>
                        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Georgian: Circa 1714-1837<br>Victorian: Circa 1837-1901<br>Art Nouveau: Circa 1890-1910<br>Edwardian: Circa 1901-1920<br>Retro: Circa 1930s-1950<br>Art Deco: Circa 1920-1930"></span>
                        <%= form.select :pendantstyle, options_for_select([["Select One...", ""],'Georgian','Victorian','Art Nouveau','Edwardian','Retro','Art Deco', 'None'], :selected => @item.pendantstyle), {}, {:class => "form-control"} %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group ">
                          <%= form.label :pendanttotalweight, "Total Weight" %>
                          <%= form.number_field :pendanttotalweight,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Select a Total Weight" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :pendantweighttype, options_for_select([["Select One...", ""],'ozt','dwt'], :selected => @item.pendantweighttype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
<!---PINS--------------------------------------------------------------------------------------->
                <div id="pindetails">
                  <div class="panel panel-default">
                    <div class="panel-heading">Pin Details | Required</div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6 form-group">
                          <%= form.label :pinothermetal, "Metal Type" %>
                          <%= form.select :pinothermetal, options_for_select([["Select One...", ""],'White Gold','Yellow Gold','Rose Gold','Silver','Palladium','Platinum','Other'], @item.pinothermetal), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :pinmetaltype, options_for_select([["Select One...", ""],'925','10K','14K','18K', 'Other'], :selected => @item.pinmetaltype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= form.label :pinclosure, "Pin Closure Type" %>
                        <%= form.select :pinclosure, options_for_select([["Select One...", ""],'C Clasp', 'Safety Clasp', 'Trobone Clasp', 'None'], :selected => @item.pinclosure), {}, {:class => "form-control"} %>
                      </div>
                      <div class="form-group form-font">
                        <%= form.label :pinhallmarks, "Hallmarks" %><br>
                        <%= form.text_field :pinhallmarks, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="form-group">
                        <%= form.label :pinstyle, "Style" %>
                        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Georgian: Circa 1714-1837<br>Victorian: Circa 1837-1901<br>Art Nouveau: Circa 1890-1910<br>Edwardian: Circa 1901-1920<br>Retro: Circa 1930s-1950<br>Art Deco: Circa 1920-1930"></span>
                        <%= form.select :pinstyle, options_for_select([["Select One...", ""],'Georgian','Victorian','Art Nouveau','Edwardian','Retro','Art Deco', 'None'], :selected => @item.pinstyle), {}, {:class => "form-control"} %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group ">
                          <%= form.label :pintotalweight, "Total Weight" %>
                          <%= form.number_field :pintotalweight,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Select a Total Weight" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :pinweighttype, options_for_select([["Select One...", ""],'ozt','dwt'], :selected => @item.pinweighttype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
<!---RINGS--------------------------------------------------------------------------------------->
                <div id="ringdetails">
                  <div class="panel panel-default">
                    <div class="panel-heading">Ring Details | Required</div>
                    <div class="panel-body">
                      <div class="form-group">
                        <%= form.label :ringdesigner, "Designer" %><br>
                        <%= form.text_field :ringdesigner, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group">
                          <%= form.label :ringsize, "Ring Size" %>
                          <%= form.number_field :ringsize,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Select a Ring Size" %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group">
                          <%= form.label :ringothermetal, "Metal Type" %>
                          <%= form.select :ringothermetal, options_for_select([["Select One...", ""],'White Gold','Yellow Gold','Rose Gold','Silver','Palladium','Platinum','Other'], @item.ringothermetal), {}, {:class => "form-control"} %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :ringmetaltype, options_for_select([["Select One...", ""],'925','10K','14K','18K', 'Other'], :selected => @item.ringmetaltype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group form-font">
                        <%= form.label :ringhallmarks, "Hallmarks" %><br>
                        <%= form.text_field :ringhallmarks, class: "form-control", placeholder: "Optional Attribute" %>
                      </div>
                      <div class="form-group">
                        <%= form.label :ringstyle, "Style" %>
                        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Georgian: Circa 1714-1837<br>Victorian: Circa 1837-1901<br>Art Nouveau: Circa 1890-1910<br>Edwardian: Circa 1901-1920<br>Retro: Circa 1930s-1950<br>Art Deco: Circa 1920-1930"></span>
                        <%= form.select :ringstyle, options_for_select([["Select One...", ""],'Georgian','Victorian','Art Nouveau','Edwardian','Retro','Art Deco', 'None'], :selected => @item.ringstyle), {}, {:class => "form-control"} %>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group ">
                          <%= form.label :ringtotalweighttype, "Total Weight" %>
                          <%= form.number_field :ringtotalweighttype,in: 1.0..10.0, step: 0.05, class: "form-control", placeholder: "Select a Total Weight" %>
                        </div>
                        <div class="col-xs-6 form-group">
                          <div class="secondary-dropdown">
                          <%= form.select :ringweighttype, options_for_select([["Select One...", ""],'ozt','dwt'], :selected => @item.ringweighttype), {}, {:class => "form-control"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
<!---WATCHES--------------------------------------------------------------------------------------->
                <div id="watchdetails">
                  Watches Details
                </div>

              </div>
            </div>
<!---DUMMY FIELDS--------------------------------------------------------------------------------------->
            <div class="form-group col-xs-12">
              <h4>Condition</h4>
              <div class="well">
                <div class="row">
                  <div class="form-group col-xs-12">
                    <p>Condition Status | Required</p>
                    <div>
                      <button type="button" class="btn btn-default DC-button" disabled>Very Good</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Good</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Fair</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Poor</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Various</button>
                      <button type="button" class="btn btn-default DC-button" disabled>Inoperable</button>
                    </div>
                  </div>


                  <div class="form-group col-xs-12">
                    <p>Condition Details</p>
                    <textarea class="form-control" placeholder="-good condition" readonly></textarea>
                    <p class="subtext">Describe any flaws with the item, like scratches, worn areas, non-functioning components, etc.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-xs-12">
              <h4>Measurements</h4>
              <div class="well">
                <div class="row">
                  <div class="form-group col-xs-4">
                    <p>Width (in.)<p>
                    <input class="form-control" type="text" placeholder="12" readonly>
                  </div>
                  <div class="form-group col-xs-4">
                    <p>Height (in.)</p>
                    <input class="form-control" type="text" placeholder="12" readonly>
                  </div>
                  <div class="form-group col-xs-4">
                    <p>Depth (in.)</p>
                    <input class="form-control" type="text" placeholder="12" readonly>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <p>Measurement Details</p>
                    <textarea class="form-control" placeholder="-it's pretty big" readonly></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <button type="button" class="btn btn-default DC-button" disabled>DC Pickup?</button>
                    <p class="subtext">Describe any flaws with the item, like scratches, worn areas, non-functioning components, etc.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-xs-12">
              <h4>Description</h4>
              <div class="well">
                <p>Description | Required</p>
                <textarea class="form-control" placeholder="This piece of jewelry is..." readonly></textarea>
              </div>
            </div>

            <div class="form-group col-xs-12">
              <h4>Additional Links</h4>
              <div class="well">
                <div class="row">
                  <div class="form-group col-xs-6">
                    <p>Link Title<p>
                    <input class="form-control" type="text" placeholder= "EBTH" readonly>
                  </div>
                  <div class="form-group col-xs-6">
                    <p>URL</p>
                    <input class="form-control" type="text" placeholder="http://ebth.com" readonly>
                  </div>
                </div>
                <button type="button" class="btn btn-default DC-button" disabled>+ Add Another Link</button>
              </div>
            </div>

            <div class="form-group">
              <%= link_to 'Cancel', items_path, class: "btn btn-danger" %>
              <%= form.submit class: "btn btn-primary" %>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <% end %>

  <script>
  $(document).ready(function () {
      toggleFields();
      $("#item_category").change(function () {
          toggleFields();
      });

  });
  function toggleFields() {

      if ($("#item_category").val() === "Bracelets")
          $("#braceletdetails").show();
      else
          $("#braceletdetails").hide();

      if ($("#item_category").val() === "Brooches")
          $("#broochdetails").show();
      else
          $("#broochdetails").hide();

      if ($("#item_category").val() === "Cufflinks")
          $("#cufflinkdetails").show();
      else
          $("#cufflinkdetails").hide();

      if ($("#item_category").val() === "Earrings")
          $("#earringdetails").show();
      else
          $("#earringdetails").hide();

      if ($("#item_category").val() === "Necklaces")
          $("#necklacedetails").show();
      else
          $("#necklacedetails").hide();

      if ($("#item_category").val() === "Other Jewelry")
          $("#otherdetails").show();
      else
          $("#otherdetails").hide();

      if ($("#item_category").val() === "Pendants")
          $("#pendantdetails").show();
      else
          $("#pendantdetails").hide();

      if ($("#item_category").val() === "Pins")
          $("#pindetails").show();
      else
          $("#pindetails").hide();

      if ($("#item_category").val() === "Rings")
          $("#ringdetails").show();
      else
          $("#ringdetails").hide();

      if ($("#item_category").val() === "Watches")
          $("#watchdetails").show();
      else
          $("#watchdetails").hide();
  }

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

  </script>
