  <%= form_for @item, html: {multipart: true} do |form| %>

  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-xs-5">
      <%= form.label :name %>
      <%= form.text_field :name, id: :item_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-5">
      <%= form.label :barcode %>
      <%= form.text_field :barcode, id: :item_barcode, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= link_to 'Cancel', items_path, class: "btn btn-danger" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>

  <% end %>
