<p id="notice"><%= notice %></p>

<h1>All Items</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="table-font"><%= link_to edit_item_path(item) do %>
          <%=item.name%>
        <% end %></td>
        <td></td>
        <td style="width:5%"><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, class: "btn btn-primary" %>
