<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <h4 class="sub-item-name-show">
      VIEW MORE ITEMS FROM STERLING SILVER, HOME FURNISHINGS, DÉCOR & MORE
    </h4>
    <h1 class="item-name-show">
      <%= @item.name %>
    </h1>
    <hr>
    <h5 class="sub-item-name-show">
      WEDNESDAY, OCTOBER 18TH 2017 @ 10:07PM EDT
    </h5>
 </div>

 <div class="row">
   <div class="col-xs-12">
     <div class="row">
       <div class="col-xs-6">
         <i class="fa fa-picture-o" style="font-size:35em;" aria-hidden="true"></i>
       </div>
       <div class="col-xs-6" style="margin-top:35px;">
         <div class="well wellbig">
           <p class="centered item-name">This section includes bid infrormation, shipping details, and related items.</p>
         </div>
       </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <strong class="item-description">ITEM DETAILS</strong>
    </div>
    <div class="col-xs-12" style="padding-top:15px; padding-bottom:15px;">
      <p class="item-description"> The item's description would continue to display here.</p>
    </div>

<!---RINGS--------------------------------------------------------------------------------------->

    <% if @item.category == "Rings" %>

    <div class="col-xs-12">
      <strong class="item-description">Metal Type:</strong>
      <%= @item.ringmetaltype.join(", ") %>
    </div>
    <% unless @item.ringothermetal.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Secondary Metal Type:</strong>
        <%= @item.ringothermetal.join(", ") %>
      </div>
    <% end %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Ring Size:</strong>
      <%= @item.ringsize %>
      <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Ring size needs to be stored and displayed out to the hundreths place, even if the final digit is a zero."></span>
    </div>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Hallmarks:</strong>
      <%= @item.ringhallmarks %>
    </div>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Total Weight:</strong>
      <%= @item.ringtotalweighttype %>
      <%= @item.ringtotalweighttype2 %>
      <%= @item.ringweighttype %>
      <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="If the weight is .ozt, storage and the view has to take the decimal out to the thousandths place, even if the final digit is a 0.</br>If the weight is .dwt, storage and the view has to take the decimal out to the hundreths place, even if the final digit is a 0."></span>
    </div>
    <% unless @item.ringstyle.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Style:</strong>
        <%= @item.ringstyle %>
      </div>
    <% end %>
  </div>
  <% unless @item.ringcstonetype.blank? %>
  <div class="row">
    <div class="col-xs-12 new-heading">
      <strong class="item-description" style="text-transform:uppercase;"><%=@item.ringcstoneposition%>  <%=@item.ringcstonetype%> DETAILS</strong>
    </div>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Count:</strong>
      <%= @item.ringcstonecountfinal.round %>
    </div>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Shape:</strong>
      <%= @item.ringcstoneshape %>
    </div>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Carat Weight:</strong>
      <%= @item.ringcstonecaratweight %>
    </div>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Treatment:</strong>
      <%= @item.ringcstonetreatment %>
    </div>
    <% if @item.ringcstonetype == "Diamond" %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Color Grade:</strong>
        <%= @item.ringcstonecolorgrade %>
        <% unless @item.ringcstonecolorgradeto.blank? %>
            - <%= @item.ringcstonecolorgradeto %>
          <% else %>
          <% end %>
      </div>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Clarity Grade:</strong>
        <%= @item.ringcstoneclaritygrade %>
        <% unless @item.ringcstoneclaritygradeto.blank? %>
            - <%= @item.ringcstoneclaritygradeto %>
          <% else %>
          <% end %>
      </div>
      <% else %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Hue:</strong>
        <%= @item.ringcstonehue %>
      </div>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Tone:</strong>
        <%= @item.ringcstonetone %>
      </div>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Saturation:</strong>
        <%= @item.ringcstonesaturation %>
      </div>
      <% end %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Dimensions:</strong>
        <%= @item.ringcstonedimensionl %> mm x <%= @item.ringcstonedimensionw %> mm
          <% unless @item.ringcstonedepth.blank? %>
            x <%= @item.ringcstonedepth %>mm
          <%end%>
      </div>
      <% unless @item.ringcstonecaratweight.blank? %>
        <div class="col-xs-12 item-details">
          <strong class="item-description">Carat Weight:</strong>
          <%= @item.ringcstonecaratweight.round %>
          <% if @item.ringcstonecountfinal > 1 %>
            ctw
          <% else %>
            ct
          <% end %>
        </div>
      <% else %>
      <% end %>
      </div>
      <% else %>
      <% end %>


  <% unless @item.ringgeodisclaimer.blank? %>
  <div class="row">
    <div class="col-xs-6">
      <p class="item-description">
        <ul>
          <li>
            All diamond and gemstone grading is done under GIA standards as the mounting permits, where gemstones are present. All weights and measurements are estimated and approximate. Industry standard and accepted treatments for gemstones are assumed unless otherwise noted.
          </li>
        </ul>
      </p>
    </div>
  </div>
  <% else %>
  <% end %>

  <% unless @item.ringgemdisclaimer.blank? %>
  <div class="row">
    <div class="col-xs-12">
      <p class="item-description">
        <ul>
          <li>
            This item has been evaluated and verified by an independent Graduate Gemologist. (<%=@item.ringcode%>).
        </li>
      </ul>
      </p>
    </div>
  </div>
  <% else %>
  <% end %>



  <% else %>
  <% end %>

</br></br></br></br></br></br></br></br></br></br></br></br>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
