<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <h4 class="sub-item-name-show">
      VIEW MORE ITEMS FROM STERLING SILVER, HOME FURNISHINGS, DÉCOR & MORE
    </h4>
    <h1 class="item-name-show">
      <%= @item.name %>
    </h1>
    <hr>
    <h5 class="sub-item-name-show">
      WEDNESDAY, OCTOBER 18TH 2017 @ 10:07PM EDT
    </h5>
 </div>

 <div class="row">
   <div class="col-xs-12">
     <div class="row">
       <div class="col-xs-6">
         <i class="fa fa-picture-o" style="font-size:35em;" aria-hidden="true"></i>
       </div>
       <div class="col-xs-6" style="margin-top:35px;">
         <div class="well wellbig">
           <p class="centered item-name">This section includes bid infrormation, shipping details, and related items.</p>
         </div>
       </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <strong class="item-description">ITEM DETAILS</strong>
    </div>
    <div class="col-xs-12" style="padding-top:15px; padding-bottom:15px;">
      <p class="item-description"> The item's description would continue to display here.</p>
    </div>

<!---RINGS--------------------------------------------------------------------------------------->

    <% if @item.category == "Rings" %>

    <div class="col-xs-12">
      <strong class="item-description">Metal Type:</strong>
      <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="This is Required, and will always display. This is a multiselect field, so they'll appear comma separated here."></span>
      <%= @item.ringmetaltype.join(", ") %>
    </div>
    <% unless @item.ringothermetal.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Accent Metal Type:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Important and display? Not sure if this is a thing yet, but it's a multiselect, if so."></span>
        <%= @item.ringothermetal.join(", ") %>
      </div>
    <% end %>
    <% unless @item.ringsize.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Ring Size:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Ring size is Required and needs to be stored and displayed out to the hundreths place, even if the final digit is a zero."></span>
        <%= number_with_precision(@item.ringsize, precision: 2) %>
      </div>
    <% else %>
    <% end %>
    <% unless @item.ringdesigner.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Ring Designer:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Designer is Important and should be displayed, if present."></span>
        <%= @item.ringdesigner %>
      </div>
    <% else %>
    <% end %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Hallmarks:</strong>
      <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Required, and always display whether present or not. This should be an open text field. Selections are too varied, and even when we stand to learn from consistent marks (e.g., 14K), the data can still be captured in Metal Type."></span>
      <%= @item.ringhallmarks %>
    </div>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Total Weight:</strong>
      <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Important, and display if present. If the weight is .ozt, storage and the view has to take the decimal out to the thousandths place, even if the final digit is a 0.</br>If the weight is .dwt, storage and the view has to take the decimal out to the hundreths place, even if the final digit is a 0."></span>
      <% if @item.ringweighttype == 'ozt'%>
        <%= number_with_precision(@item.ringtotalweighttype2, precision: 3) %>
        <%= @item.ringweighttype %>
        <% else %>
        <%= number_with_precision(@item.ringtotalweighttype, precision: 2) %>
        <%= @item.ringweighttype %>
      <% end %>
    </div>
  </div>
  <% unless @item.ringcstonetype.blank? %>
  <div class="row">
    <div class="col-xs-12 new-heading">
      <strong class="item-description" style="text-transform:uppercase;"><%=@item.ringcstoneposition%>
        <% if (@item.ringcstonecountfinal > 1 && @item.ringcstonetype != 'Diamond')%>
          STONES
         <% elsif (@item.ringcstonecountfinal == 1 && @item.ringcstonetype != 'Diamond')%>
          STONE
        <% elsif (@item.ringcstonecountfinal > 1 && @item.ringcstonetype == 'Diamond')%>
          DIAMONDS
        <% elsif (@item.ringcstonecountfinal == 1 && @item.ringcstonetype == 'Diamond')%>
          DIAMOND
        <% end %>
      </strong>
      <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Notice how this label combines the stone's position and the word 'Stone' or 'Stones' if the count is greater than one. Also, notice how 'Diamond' or 'Diamonds' appears in this heading depending on the stone count and type. See below for how this also affects whether type is listed in the template."></span>
    </div>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Count:</strong>
      <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Count will always be Required and display on the Item View Page, keeping in mind that when this value is greater than 1, that all stones with this type and in this position (center, side, or accent) have the exact same qualities listed below. If any of these characteristics vary, the stone will be added in a separate template."></span>
      <%= @item.ringcstonecountfinal.round %>
    </div>
    <% if @item.ringcstonetype != "Diamond" %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Type:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Type will only display if the stone type is not Diamond. It's hidden if Diamond is the type, since it's put in the heading."></span>
        <%= @item.ringcstonetype.join(", ") %>
      </div>
    <% else %>
    <% end %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Shape:</strong>
      <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="This will be Required and always display."></span>
      <%= @item.ringcstoneshape %>
    </div>
    <% unless @item.ringcstonetreatment.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Treatment:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Important, not Required. Display it, if present"></span>
        <%= @item.ringcstonetreatment %>
      </div>
    <% else %>
    <% end %>
    <% if @item.ringcstonetype == "Diamond" %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Color Grade:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="This is Important? It will be added as a range normally with a lower and an upper value. It should also accept a single value."></span>
        <%= @item.ringcstonecolorgrade %>
        <% unless @item.ringcstonecolorgradeto.blank? %>
            - <%= @item.ringcstonecolorgradeto %>
          <% else %>
          <% end %>
      </div>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Clarity Grade:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Same as Color Grade."></span>
        <%= @item.ringcstoneclaritygrade %>
        <% unless @item.ringcstoneclaritygradeto.blank? %>
            - <%= @item.ringcstoneclaritygradeto %>
          <% else %>
          <% end %>
      </div>
      <% else %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Hue:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="This is Important, not Required. Notice how the code appears first for quick access by Gemology in the actual form. In this example, I'm only displaying the characters that follow the first forward slash, which is more user friendly."></span>
        <%= @item.ringcstonehue.partition('/').last %>
      </div>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Tone:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="This is Important, not Required. Same as Hue, display?"></span>
        <%= @item.ringcstonetone.partition('/').last %>
      </div>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Saturation:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="This is Important, not Required. Same as Hue, display?"></span>
        <%= @item.ringcstonesaturation.partition('/').last %>
      </div>
      <% end %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Dimensions:</strong>
        <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="This will always be Required and display if the ring includes a stone. If only a diameter is measured, just the first dimension will display. Alternatively, if a length and width are measured, two dimensions will appear. If a depth is measured, L x W x D will display. Measurements should always display up to the hundreths place."></span>
        <%= number_with_precision(@item.ringcstonedimensionl, precision: 2) %> mm
          <% unless @item.ringcstonedimensionw.blank? %>
            x <%= number_with_precision(@item.ringcstonedimensionl, precision: 2)%> mm
            <%end%>
          <% unless @item.ringcstonedepth.blank? %>
            x <%= number_with_precision(@item.ringcstonedimensionl, precision: 2)%> mm
          <%end%>
      </div>
      <% unless @item.ringcstonecaratweight.blank? %>
        <div class="col-xs-12 item-details">
          <strong class="item-description">Carat Weight:</strong>
          <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="This is Important for everything besides Diamonds, which it's required for. It should always display if the value is present. Additionally, notice how 'ct' appears if the template includes a count of 1 stone. It changes to 'ctw' if it's 2 or more."></span>
          <%= number_with_precision(@item.ringcstonecaratweight, precision: 2) %>
          <% if @item.ringcstonecountfinal > 1 %>
            ctw
          <% else %>
            ct
          <% end %>
        </div>
      <% else %>
      <% end %>
      </div>
      <% else %>
      <% end %>


  <% unless @item.ringgeodisclaimer.blank? %>
  <div class="row">
    <div class="col-xs-6">
      <p class="item-description">
        <ul>
          <li>
            All diamond and gemstone grading is done under GIA standards as the mounting permits, where gemstones are present. All weights and measurements are estimated and approximate. Industry standard and accepted treatments for gemstones are assumed unless otherwise noted.
          </li>
        </ul>
      </p>
    </div>
  </div>
  <% else %>
  <% end %>

  <% unless @item.ringgemdisclaimer.blank? %>
  <div class="row">
    <div class="col-xs-12">
      <p class="item-description">
        <ul>
          <li>
            This item has been evaluated and verified by an independent Graduate Gemologist. (<%=@item.ringcode%>).
        </li>
      </ul>
      </p>
    </div>
  </div>
  <% else %>
  <% end %>



  <% else %>
  <% end %>

</br></br></br></br></br></br></br></br></br></br></br></br>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
