<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <h4 class="sub-item-name-show">
      VIEW MORE ITEMS FROM STERLING SILVER, HOME FURNISHINGS, DÉCOR & MORE
    </h4>
    <h1 class="item-name-show">
      <%= @item.name %>
    </h1>
    <hr>
    <h5 class="sub-item-name-show">
      WEDNESDAY, OCTOBER 18TH 2017 @ 10:07PM EDT
    </h5>
 </div>

 <div class="row">
   <div class="col-xs-12">
     <div class="row">
       <div class="col-xs-6">
         <i class="fa fa-picture-o" style="font-size:35em;" aria-hidden="true"></i>
       </div>
       <div class="col-xs-6" style="margin-top:35px;">
         <div class="well wellbig">
           <p class="centered item-name">This section includes bid infrormation, shipping details, and related items.</p>
         </div>
       </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <strong class="item-description">ITEM DETAILS</strong>
    </div>
    <div class="col-xs-12" style="padding-top:15px; padding-bottom:5px;">
      <p class="item-description"> <%= @item.description %></p>
    </div>

<!---RINGS--------------------------------------------------------------------------------------->

    <% if @item.category == "Rings" %>
    <% unless @item.ringdesignern.blank? %>
    <div class="col-xs-12">
      <strong class="item-description">Ring Designer:</strong>
      <%= @item.ringdesignern %>
    </div>
    <% else %>
    <% end %>
    <% unless @item.ringmetaltypeagain.blank? %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Materials:</strong>
      <%= @item.ringmetaltypeagain.join(", ") %>
    </div>
    <% else %>
    <% end %>
    <% unless @item.ringsizen.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Ring Size:</strong>
        <%= number_with_precision(@item.ringsizen, precision: 2) %>
      </div>
    <% else %>
    <% end %>
    <% unless @item.ringwidth.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Ring Width:</strong>
        <%= number_with_precision(@item.ringwidth, precision: 2) %> mm
      </div>
    <% else %>
    <% end %>
    <% unless @item.ringhallmarksz.blank? %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Hallmarks:</strong>
      <%= @item.ringhallmarksz %>
    </div>
    <% else %>
    <% end %>
    <% unless @item.ringengravedmarks.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Personalizations:</strong>
        <%= @item.ringengravedmarks %>
      </div>
    <% else %>
    <% end %>
    <% unless @item.ringtotalweighttype2.blank? %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Total Weight:</strong>
      <% if @item.ringweighttypez == 'ozt'%>
        <%= number_with_precision(@item.ringtotalweighttype2, precision: 3) %>
        <%= @item.ringweighttypez %>
        <% else %>
        <%= number_with_precision(@item.ringtotalweighttypez, precision: 2) %>
        <%= @item.ringweighttypez %>
      <% end %>
    </div>
    <% else %>
    <% end %>
  </div>

  <!---STONE 1--------------------------------------------------------------------------------------->

  <% unless @item.ringcstonetype.blank? %>
  <div class="row">
    <div class="col-xs-12 new-heading">
      <strong class="item-description" style="text-transform:uppercase;"><%=@item.ringcstoneposition%>
        <% if (@item.ringcstonecountfinal == nil) %>
          STONE
         <% elsif (@item.ringcstonecountfinal == 1 && @item.ringcstonetype != 'Diamond')%>
          STONE
        <% elsif (@item.ringcstonecountfinal > 1 && @item.ringcstonetype == 'Diamond')%>
          DIAMONDS
        <% elsif (@item.ringcstonecountfinal == 1 && @item.ringcstonetype == 'Diamond')%>
          DIAMOND
        <% elsif (@item.ringcstonecountfinal > 1 && @item.ringcstonetype != 'Diamond')%>
          STONES
        <% end %>
      </strong>
    </div>
    <% unless @item.ringcstonecountfinal.blank? %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Count:</strong>
      <%= @item.ringcstonecountfinal.round %>
    </div>
    <% else %>
    <% end %>
    <% if @item.ringcstonetype != "Diamond" %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Type:</strong>
        <%= @item.ringcstonetype.join(", ") %>
      </div>
    <% else %>
    <% end %>
    <% unless @item.ringcstonetreatment.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Treatment:</strong>
        <%= @item.ringcstonetreatment %>
      </div>
    <% else %>
    <% end %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Shape:</strong>
      <%= @item.ringcstoneshape.join(", ") %>
    </div>
    <% if @item.ringcstonetype == "Diamond" %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Color Grade:</strong>
        <%= @item.ringcstonecolorgrade %>
        <% unless @item.ringcstonecolorgradeto.blank? %>
            - <%= @item.ringcstonecolorgradeto %>
          <% else %>
          <% end %>
      </div>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Clarity Grade:</strong>
        <%= @item.ringcstoneclaritygrade %>
        <% unless @item.ringcstoneclaritygradeto.blank? %>
            - <%= @item.ringcstoneclaritygradeto %>
          <% else %>
          <% end %>
      </div>
      <% else %>

      <% unless @item.ringcstonehue.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Hue:</strong>
        <%= @item.ringcstonehue.partition('/').last %>
      </div>
      <% else %>
      <% end %>
      <% unless @item.ringcstonetone.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Tone:</strong>
        <%= @item.ringcstonetone.partition('/').last %>
      </div>
      <% else %>
      <% end %>
      <% unless @item.ringcstonesaturation.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Saturation:</strong>
        <%= @item.ringcstonesaturation.partition('/').last %>
      </div>
      <% else %>
      <% end %>

      <% end %>

      <% if @item.ringcstonedimensiontype == "Single" %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Dimensions:</strong>
        <%= @item.ringcstonedimensionlsingle %> mm
          <% unless @item.ringcstonedimensionwsingle.blank? %>
            x <%= @item.ringcstonedimensionwsingle%> mm
            <%end%>
          <% unless @item.ringcstonedimensiondsingle.blank? %>
            x <%= @item.ringcstonedimensiondsingle%> mm
          <%end%>
          <% unless @item.ringcstonedimensionest.blank? %>
          - (estimate)
          <% else %>
          <% end %>
        </div>
      <% elsif @item.ringcstonedimensiontype == "Range" %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Dimensions:</strong>
        <%= @item.ringcstonedimensionl %> mm
          <% unless @item.ringcstonedimensionw.blank? %>
            x <%= @item.ringcstonedimensionw%> mm
            <%end%>
          <% unless @item.ringcstonedepth.blank? %>
            x <%= @item.ringcstonedepth%> mm
          <%end%>
          to
        <%= @item.ringcstonedimensionlend %> mm
          <% unless @item.ringcstonedimensionwend.blank? %>
            x <%= @item.ringcstonedimensionwend%> mm
            <%end%>
          <% unless @item.ringcstonedimensiondend.blank? %>
            x <%= @item.ringcstonedimensiondend %> mm
          <%end%>
          <% unless @item.ringcstonedimensionest.blank? %>
          - (estimate)
          <% else %>
          <% end %>
        </div>
      <% else %>
      <% end %>


      <% unless @item.ringcstonecaratweight.blank? %>
        <div class="col-xs-12 item-details">
          <strong class="item-description">Carat Weight:</strong>
          <%= number_with_precision(@item.ringcstonecaratweight, precision: 2) %>
          <% if @item.ringcstonecountfinal > 1 %>
            ctw
          <% else %>
            ct
          <% end %>
        </div>
        <% unless @item.ringcstonegemnotes.blank? %>
          <div class="col-xs-12 item-details">
            <strong class="item-description">Gemologist Note:</strong>
            <%= @item.ringcstonegemnotes %>
          </div>
        <% else %>
        <% end %>
      <% else %>
      <% end %>
      </div>
      <% else %>
      <% end %>


<!---STONE 2--------------------------------------------------------------------------------------->
<% unless @item.ringsstonetype.blank? %>
<div class="row">
  <div class="col-xs-12 new-heading">
    <strong class="item-description" style="text-transform:uppercase;"><%=@item.ringsstoneposition%>
      <% if (@item.ringsstonecountfinal == nil) %>
        STONE
       <% elsif (@item.ringsstonecountfinal == 1 && @item.ringsstonetype != 'Diamond')%>
        STONE
      <% elsif (@item.ringsstonecountfinal > 1 && @item.ringsstonetype == 'Diamond')%>
        DIAMONDS
      <% elsif (@item.ringsstonecountfinal == 1 && @item.ringsstonetype == 'Diamond')%>
        DIAMOND
      <% elsif (@item.ringsstonecountfinal > 1 && @item.ringcstonetype != 'Diamond')%>
        STONES
      <% end %>
    </strong>
  </div>
  <% unless @item.ringsstonecountfinal.blank? %>
  <div class="col-xs-12 item-details">
    <strong class="item-description">Count:</strong>
    <%= @item.ringsstonecountfinal.round %>
  </div>
  <% else %>
  <% end %>
  <% if @item.ringsstonetype != "Diamond" %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Type:</strong>
      <%= @item.ringsstonetype.join(", ") %>
    </div>
  <% else %>
  <% end %>
  <% unless @item.ringsstonetreatment.blank? %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Treatment:</strong>
      <%= @item.ringsstonetreatment %>
    </div>
  <% else %>
  <% end %>
  <div class="col-xs-12 item-details">
    <strong class="item-description">Shape:</strong>
    <%= @item.ringsstoneshape.join(", ") %>
  </div>
  <% if @item.ringsstonetype == "Diamond" %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Color Grade:</strong>
      <%= @item.ringsstonecolorgrade %>
      <% unless @item.ringsstonecolorgradeto.blank? %>
          - <%= @item.ringsstonecolorgradeto %>
        <% else %>
        <% end %>
    </div>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Clarity Grade:</strong>
      <%= @item.ringsstoneclaritygrade %>
      <% unless @item.ringsstoneclaritygradeto.blank? %>
          - <%= @item.ringsstoneclaritygradeto %>
        <% else %>
        <% end %>
    </div>
    <% else %>

    <% unless @item.ringsstonehue.blank? %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Hue:</strong>
      <%= @item.ringsstonehue.partition('/').last %>
    </div>
    <% else %>
    <% end %>
    <% unless @item.ringsstonetone.blank? %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Tone:</strong>
      <%= @item.ringsstonetone.partition('/').last %>
    </div>
    <% else %>
    <% end %>
    <% unless @item.ringsstonesaturation.blank? %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Saturation:</strong>
      <%= @item.ringsstonesaturation.partition('/').last %>
    </div>
    <% else %>
    <% end %>

    <% end %>

    <% if @item.ringsstonedimensiontype == "Single" %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Dimensions:</strong>
      <%= @item.ringsstonedimensionlsingle %> mm
        <% unless @item.ringsstonedimensionwsingle.blank? %>
          x <%= @item.ringsstonedimensionwsingle%> mm
          <%end%>
        <% unless @item.ringsstonedimensiondsingle.blank? %>
          x <%= @item.ringsstonedimensiondsingle%> mm
        <%end%>
        <% unless @item.ringsstonedimensionest.blank? %>
        - (estimate)
        <% else %>
        <% end %>
      </div>
    <% elsif @item.ringsstonedimensiontype == "Range" %>
    <div class="col-xs-12 item-details">
      <strong class="item-description">Dimensions:</strong>
      <%= @item.ringsstonedimensionl %> mm
        <% unless @item.ringsstonedimensionw.blank? %>
          x <%= @item.ringsstonedimensionw%> mm
          <%end%>
        <% unless @item.ringsstonedepth.blank? %>
          x <%= @item.ringsstonedepth%> mm
        <%end%>
        to
      <%= @item.ringsstonedimensionlend %> mm
        <% unless @item.ringsstonedimensionwend.blank? %>
          x <%= @item.ringsstonedimensionwend%> mm
          <%end%>
        <% unless @item.ringsstonedimensiondend.blank? %>
          x <%= @item.ringsstonedimensiondend%> mm
        <%end%>
        <% unless @item.ringsstonedimensionest.blank? %>
        - (estimate)
        <% else %>
        <% end %>
      </div>
    <% else %>
    <% end %>


    <% unless @item.ringsstonecaratweight.blank? %>
      <div class="col-xs-12 item-details">
        <strong class="item-description">Carat Weight:</strong>
        <%= number_with_precision(@item.ringsstonecaratweight, precision: 2) %>
        <% if @item.ringsstonecountfinal > 1 %>
          ctw
        <% else %>
          ct
        <% end %>
      </div>
      <% unless @item.ringsstonegemnotes.blank? %>
        <div class="col-xs-12 item-details">
          <strong class="item-description">Gemologist Note:</strong>
          <%= @item.ringsstonegemnotes %>
        </div>
      <% else %>
      <% end %>
    <% else %>
    <% end %>
    </div>
    <% else %>
    <% end %>

<!---STONE DISCLAIMERS----------------------------------------------------------------------------->




  <% else %>
  <% end %>

  <% unless @item.disclaimer.blank? %>
  <div class="row">
    <div class="col-xs-12">
      <p class="item-description">
        <ul>
          <li>
            This item has been evaluated and verified by an independent Graduate Gemologist. (<%=@item.ringcode%>).
          </li>
        </br>
          <li>
            All diamond and gemstone grading is done under GIA standards as the mounting permits, where gemstones are present. All weights and measurements are estimated and approximate. Industry standard and accepted treatments for gemstones are assumed unless otherwise noted.
          <span class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="No change to the logic for these disclaimers."></span>
          </li>
      </ul>
      </p>
    </div>
  </div>
  <% else %>
  <% end %>

  <div class="row">
    <div class="col-xs-12" style="padding-top:25px;">
      <strong class="item-description">CONDITION</strong></br>
      <%= @item.conditiondetails %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12" style="padding-top:25px;">
      <strong class="item-description">DIMENSIONS</strong></br>
      <%= @item.measurementdetails %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12" style="padding-top:25px;">
      <strong class="item-description">CATEGORIES</strong></br>
      Jewelry |  <%= @item.category %>
    </div>
  </div>
</br></br></br></br></br></br></br></br></br></br></br></br>



<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
